body {
  background-color: rgb(27, 34, 34);
}

#slime-div {
  --height: 50px;
  --width: calc(var(--height) * 1.25);
  
  transition: 
  height .5s ease-in, 
  margin-top .5s ease-out, 
  width .4s ease-in, 
  margin-left .4s ease-out,
  background-color .5s;
  
  height: var(--height);
  width: var(--width);
  margin-top: calc(50vh - var(--height)/2);
  margin-left: calc(50% - var(--width)/2);
  background-color: blue;
  border-radius: 50% 50% 15% 15%;
  border: 5px whitesmoke solid;

  display: flex;
  justify-content: center;
}

.eye {
  transition: 
  height .5s ease-in, 
  width .4s ease-in;

  position: relative;
  display: inline flex;
  top: 20%;
  background-color: white;
  height: calc(var(--height) * .3);
  width: calc(var(--height) * .2);
}

#left-eye {
  right: calc(var(--height) * .1);
  border-radius: 50% 50% 40% 50%;
}

#right-eye {
  left: calc(var(--height) * .1);
  border-radius: 50% 50% 50% 40%;
}

#interaction-tray {
  position: absolute;
  bottom: 20vh;
  left: 40vw;
}